.corpo{
    width: 960px;
    margin: auto;
}

.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    float: left;
}

.texto{
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: -20px;
    margin-left: 20px;
}